# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\proje\Java-SpringFramework\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
